@using Origin.YMC.Business.Entities.Domain.SocialUrl.Enums
@using Origin.YMC.Business.Entities.Domain.Doctors.ViewModel
@using Origin.YMC.Business.Entities.Domain.Testimonials.ViewModels
@using Origin.YMC.Business.Entities.Domain.Statistics.ViewModels

@{
    ViewBag.Title = Resources.GlobalStrings.HomePage;
    ViewBag.PageActiveNumber = 1;
}

<div id="content" class="content">
    <section class="why-bg ">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h1 class="section-title why-title fadeInLeft wow" data-wow-delay="0.5s"><span class="blue-font-with-margin sep-before">@Resources.GlobalStrings.WHY </span><span class="red-font-black">YMC</span></h1>
                    <p class="para-style fadeInUp wow" data-wow-delay="0.5s">
                        @if (ApplicationContext.IsArabic)
                        {
                            @ViewBag._whyYMCPartation.ContentAr
                        }
                        else
                        {
                            @ViewBag._whyYMCPartation.ContentEn
                        }
                    </p>
                    <img src="~/Content/img/drs.png" class="img-responsive drs" alt="">
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul class="why-list text-center">
                        <li class="wow zoomIn" data-wow-delay="0.5s"> <img src="~/Content/img/why/why-1.png" class="img-responsive" alt=""><span>easy attach file </span> </li>
                        <li class="wow zoomIn" data-wow-delay="0.5s"> <img src="~/Content/img/why/why-2.png" class="img-responsive" alt=""><span>Big network</span> </li>
                        <li class="wow zoomIn" data-wow-delay="0.5s"> <img src="~/Content/img/why/why-3.png" class="img-responsive" alt=""><span>commitment</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .container -->
    </section>
    @*<section class="groups-bg-blue">
        <h1 class="ymc-big-word"><img src="~/Content/img/YMC-big-word.png" class="img-responsive" alt=""></h1>
        <div class="groups-bg-white">
            <div class="container">
                <!-- .row -->
                <div class="row">
                    <div class="col-md-9 col-xs-12">
                        <h1 class="section-title fadeInLeft wow" data-wow-delay="0.5s">
                            <div class="font-light">
                                @Resources.GlobalStrings.Featured
                            </div>
                            <span class="font-black sep-before">
                                @Resources.GlobalStrings.Doctors
                            </span>
                        </h1>
                        <div class="event-date">
                            <span class="event-day white-font-black">01</span><span class="event-month white-font-regular">05</span>
                        </div>
                        <div class="groups-slider fadeInUp wow" data-wow-delay="0.5s">


                            @foreach (var doctor in (List<DoctorViewModels>)ViewBag._doctors)
                            {
                                <div>
                                    <div class="item-content">
                                        <img src="@doctor.ProfileImage" class="img-responsive">
                                        <h5 class="red-group-title text-uppercase">Dr.@doctor.FirstName @doctor.LastName</h5>
                                        <h6 class="features-title text-uppercase"> @doctor.SpecialtyName</h6>
                                        <div class="stars">
                                            <i class="fa fa-star marked"></i><i class="fa fa-star marked"></i><i class="fa fa-star marked"></i><i class="fa fa-star marked"></i><i class="fa fa-star unmarked"></i>
                                        </div>
                                        <button type="button" class="btn btn-join no-margin-top" onclick="getDoctorDetails('@doctor.Id')">@doctor.fees</button>
                                    </div>
                                </div>
                            }


                        </div>
                        <a href="/Doctor/Doctors" class="all-groups-btn margin-left-btn text-uppercase">@Resources.GlobalStrings.All_Doctors</a>
                    </div>
                    <div class="col-md-3 col-xs-12 white-bg-mobile-only">
                        <h1 class="section-title fadeInLeft wow" data-wow-delay="0.5s">
                            <div class="blue-font-light mini-block-title">
                                @Resources.GlobalStrings.IMPORTANT
                            </div>
                            <span class="blue-font-black sep-before">
                                @Resources.GlobalStrings.FACTS
                            </span>
                        </h1>
                        @{
                            FactsViewModels facts = ViewBag.Facts;
                        <ul class="statistics-list">
                            <li>
                                <h3 class="count wow1 zoomInDown">@facts.TotalDoctors</h3>
                                <p class="text-uppercase">
                                    @Resources.GlobalStrings.Doctors
                                </p>
                            </li>
                            <li>
                                <h3 class="count wow zoomInDown" data-wow-duration=".2s" data-wow-delay="0.5s">@facts.TotalPatients</h3>
                                <p class="text-uppercase">
                                    @Resources.GlobalStrings.patients
                                </p>
                            </li>
                            <li>
                                <h3 class="count wow zoomInDown" data-wow-duration=".2s" data-wow-delay="0.5s">@facts.TotalCases</h3>
                                <p class="text-uppercase">
                                    @Resources.GlobalStrings.Cases
                                </p>
                            </li>


                            <li>
                                <h3 class="count wow zoomInDown" data-wow-duration=".2s" data-wow-delay="0.5s">@facts.TotalCountries</h3>
                                <p class="text-uppercase">
                                    @Resources.GlobalStrings.Countries
                                </p>
                            </li>
                        </ul>
                        }
                        
                    </div>
                </div>
            </div>
            <!-- .container -->
        </div>
    </section>*@
    <section class="events-sec">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h1 class="section-title why-title fadeInLeft wow" data-wow-delay="0.5s">
                        <div class="blue-font-light">
                            @Resources.GlobalStrings.HOW
                        </div>
                        <span class="blue-font-black sep-before">
                            @Resources.GlobalStrings.IT_WORKS
                        </span>
                    </h1>
                    <p class="para-style fadeInUp wow" data-wow-delay="0.5s">
                        @if (ApplicationContext.IsArabic)
                        {
                            @ViewBag._howITWORKSPartation.ContentAr

                        }
                        else
                        {
                            @ViewBag._howITWORKSPartation.ContentEn

                        }
                    </p>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="cards-section">
                        <div class="card-deck">
                            <div class="card card1 justify-content-center wow animated fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay:1s; animation-name:fadeInUp;">
                                <div class="text-center ">
                                    <div class="row justify-content-center">
                                        <img class="cir1 img-responsive" src="~/Content/img/cir1.png">
                                        <img class="d-block img-responsive" src="~/Content/img/pic1.png">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-text text-center text-uppercase">@Resources.GlobalStrings.Find_a_doctor</h6>
                                    <p>

                                        @if (ApplicationContext.IsArabic)
                                        {
                                            @ViewBag._findADOCTORPartation.ContentAr

                                        }
                                        else
                                        {
                                            @ViewBag._findADOCTORPartation.ContentEn

                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="card card2 justify-content-center wow animated fadeInUp " data-wow-delay="1.5s" style="visibility: visible; animation-delay:1.5s; animation-name:fadeInUp;">
                                <div class="text-center ">
                                    <div class="row justify-content-center">
                                        <img class="cir1 img-responsive" src="~/Content/img/cir2.png">
                                        <img class="d-block img-responsive" src="~/Content/img/pic2.png">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-text text-center text-uppercase">@Resources.GlobalStrings.Pay_and_send_your_questions_documents</h6>
                                    <p>
                                        @if (ApplicationContext.IsArabic)
                                        {
                                            @ViewBag._payANDSENDYOURQUESTIONSANDDOCUMENTSPartation.ContentAr

                                        }
                                        else
                                        {
                                            @ViewBag._payANDSENDYOURQUESTIONSANDDOCUMENTSPartation.ContentEn

                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="card card3 justify-content-center wow animated fadeInUp " data-wow-delay="2s" style="visibility: visible; animation-delay:2s; animation-name:fadeInUp;">
                                <div class="text-center ">
                                    <div class="row justify-content-center">
                                        <img class="cir1 img-responsive" src="~/Content/img/cir3.png">
                                        <img class="d-block img-responsive" src="~/Content/img/pic3.png">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-text text-center text-uppercase">
                                        @Resources.GlobalStrings.get_your<br>
                                        @Resources.GlobalStrings.second_opinion_report
                                    </h6>
                                    <p>


                                        @if (ApplicationContext.IsArabic)
                                        {
                                            @ViewBag._getYOURSECONDOPINIONREPORTPartation.ContentAr

                                        }
                                        else
                                        {
                                            @ViewBag._getYOURSECONDOPINIONREPORTPartation.ContentEn

                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="doctors-img-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <img src="~/Content/img/doctors-bg.png" class="img-responsive doctors-img" alt="doctors">
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_Partial/_Testimonial.cshtml")
    @Html.Partial("~/Views/Shared/_Partial/_SocialUrl.cshtml")
</div>
<!-- #content -->

@section Scripts{
    <script>

        function getDoctorDetails(doctorId) {
            window.location = "/Doctor/DoctorProfileInfo?doctorId=" + doctorId;
        }
    </script>
}