@using Origin.YMC.Business.Entities.Domain.Doctors.ViewModel
@using Microsoft.AspNet.Identity
@using Origin.YMC.Business.Entities.Domain.Doctors.ViewModel
@using Origin.YMC.Business.Entities.Domain.SocialUrl.Enums
@using Origin.YMC.Business.Entities.Domain.Testimonials.ViewModels

@{
    Layout = "~/Views/Shared/_Layout_blank.cshtml";

}

<!-- #content start -->
<div id="content" class="content">
    <section class="wizard cardiology-section">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="step-content padding-30 mega-container box-shadow radius-border">
                        <h1 class="section-title sub-section-title text-center fadeInLeft wow" data-wow-delay="0.5s">
                            <span class="blue-font-light sep-before">
                                @Resources.GlobalStrings.Search_Conditions
                            </span>
                        </h1>
                        <p class="text-center black-font-color margin-top-30 margin-bottom-30 ">
                            @Resources.GlobalStrings.Search_Conditions2
                        </p>
                        <div class="search-sec search-sec-conditions">
                            <article class="wow zoomIn p-0 search-sec-conditions-form form-top" data-wow-duration="2s">
                                <div class="">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-lg-11 col-md-10 col-sm-12 p-0">
                                                <input type="text" id="txtspecialty" class="pl-3 search-control-conditions form-control search-slt no-radius " value="@ViewBag._specialtyKey.ToString()" placeholder="@Resources.GlobalStrings.a_gynocoloist">
                                            </div>
                                            <div class="col-lg-1 col-md-2 col-sm-12 p-0">
                                                <button type="button" class="search-btn-conditions btn btn-danger wrn-btn search-btn" onclick="search();"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        @{
                            var data = (List<DoctorViewModels>)ViewBag.doctors;
                            <div class="text-left black-font-color margin-top-30 margin-bottom-10 border-bottom"><label>@data.Count results for "@ViewBag._specialtyKey"</label></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @foreach (var item in data)
                                        {
                                            <div class="contact100-form-checkbox wizard-form-content">
                                                <label class="radio blue-color-font bold-font">
                                                    @item.FirstName @item.LastName ( @item.SpecialtyName ) from (@item.CityName)
                                                    @*<input type="radio" checked="checked" name="is_company">*@
                                                    <span class="checkround"></span>
                                                </label>
                                                <div class="buttons-actions">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        if (User.IsInRole("Patient"))
                                                        {
                                                            <button class="btn btn-primary btn-linear" onclick="document.location.href = '/patient/CasePayment?doctorid=@item.Id'">@Resources.GlobalStrings.Consultation</button>
                                                        }
                                                        else
                                                        {
                                                            if (User.Identity.GetUserId() == item.ApplicationUserId.ToString() && User.IsInRole("Doctor"))
                                                            {
                                                                <button class="btn btn-primary btn-linear" onclick="document.location.href = '/Doctor/EditProfile'">@Resources.GlobalStrings.edit_my_info</button>
                                                            }
                                                        }
                                                    }
                                                    <button onclick="document.location.href='/Doctor/DoctorProfileInfo?doctorId=@item.Id'" class="btn btn-primary">@Resources.GlobalStrings.Info</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- social Links -->
    @Html.Partial("~/Views/Shared/_Partial/_SocialUrl.cshtml")
</div>

@section Scripts{

    <script>

        function search() {
            var specialtyName = $("#txtspecialty").val();
            window.location.href = '/Home/Search?specialtyName=' + specialtyName;
        }
    </script>
}