@using Microsoft.AspNet.Identity
@using Origin.YMC.Business.Entities.Domain.Doctors.ViewModel
@using Origin.YMC.Business.Entities.Domain.SocialUrl.Enums
@using Origin.YMC.Business.Entities.Domain.Patients.ViewModel
@using System.Globalization
@using Origin.YMC.Business.Entities.Domain.Patients.Enums
@{
    Layout = "~/Views/Shared/_Layout_blank_.cshtml";

}
@model CaseDetailsViewModel
<!-- #content start -->
@using (Html.BeginForm("ProfileOpenCase", "Interpreter", FormMethod.Post))
{
    @Html.HiddenFor(a=>a.CaseInfo.CaseId)
    <div id="content" class="content">
        <section class="wizard cardiology-section">
            <div class="container">
                <!-- .row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="step-content mega-container text-left box-shadow radius-border">
                            <h1 class="section-title sub-section-title text-center fadeInLeft wow" data-wow-delay="0.5s">
                                <span class="blue-font-light sep-before">
                                    @Model.CaseInfo.PatientName
                                </span>
                            </h1>
                            <ul class="intro-cardiology-list">
                                <li>
                                    <label class="green-color-font">@Resources.GlobalStrings.YouHaveSelected</label>
                                    <span class="">@Model.CaseInfo.ConsultationType</span>
                                    @*<button class="btn btn-primary right"><img src="/content/img/ask.png"> @Resources.GlobalStrings.Questions_Threads</button>*@
                                </li>
                                <li>
                                    <label class=" bold-color-font">@Resources.GlobalStrings.Registered_User:</label>
                                    <span class="">@Model.CaseInfo.PatientName</span>
                                    <div class="right">
                                        <label>@Resources.GlobalStrings.Opinion_ID:</label>
                                        <span class="">@Model.CaseInfo.OpinionID</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="grey-sep">
                            </div>
                            <h2 class="text-left edit-profile-heading xs-margin-top text-uppercase">@Resources.GlobalStrings.General_Medical_History</h2>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">1.) @Resources.GlobalStrings.PrimaryCheifProblem </label>
                                        <p class="answer-p">
                                            @(Model.CasePatientQuestions?.PrimaryCheifProblem)
                                        </p>
                                        @Html.TextAreaFor(a => a.CasePatientQuestions.PrimaryCheifProblemInterpreted, new {@class = "input-md textinput textInput form-control interruptedText", rows = "5", @required = "" })

                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">2.) @Resources.GlobalStrings.MedicalDiagnosis </label>
                                        <p class="answer-p">
                                            @(Model.CasePatientQuestions?.MedicalDiagnosis)
                                        </p>
                                        @Html.TextAreaFor(a => a.CasePatientQuestions.MedicalDiagnosisInterpreted, new {@class = "input-md textinput textInput form-control interruptedText", rows = "5", @required = ""})

                                    </div>
                                    <div class="form-inline group-2 width-5 margin-top-30">
                                        <div class="form-group">
                                            <label class="control-label black-text">3.) @Resources.GlobalStrings.DiagnosisDate </label>
                                            <p class="answer-p">
                                                @(Model.CasePatientQuestions?.DiagnosisDate.ToString("dd/MM/yyyy", new CultureInfo("en-US", true)))
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group margin-top-30">

                                        @if (Model.CasePatientQuestions?.DoYouHadWorkerCompensation ?? false)
                                        {
                                            <div class="contact100-form-checkbox wizard-form-content">
                                                <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                                <label class="label-checkbox100  black-font-regular text-lowercase" for="ckbt1">
                                                    @Resources.GlobalStrings.DoYouHadWorkerCompensation3
                                                </label>
                                            </div>
                                        }

                                        @if (Model.CasePatientQuestions?.DoYouHadLitigation ?? false)
                                        {
                                            <div class="contact100-form-checkbox wizard-form-content">
                                                <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                                <label class="label-checkbox100  black-font-regular text-lowercase" for="chbt2">
                                                    @Resources.GlobalStrings.DoYouHadLitigation
                                                </label>
                                            </div>
                                        }

                                        @if (Model.CasePatientQuestions?.AreYouCurrentlyHospitalized ?? false)
                                        {
                                            <div class="contact100-form-checkbox wizard-form-content">
                                                <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                                <label class="label-checkbox100  black-font-regular text-lowercase" for="chbt3">
                                                    @Resources.GlobalStrings.AreYouCurrentlyHospitalized
                                                </label>
                                            </div>
                                        }

                                        @if (Model.CasePatientQuestions?.DoYouHaveSurgery ?? false)
                                        {
                                            <div class="contact100-form-checkbox wizard-form-content">
                                                <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                                <label class="label-checkbox100  black-font-regular text-lowercase" for="chbt4">
                                                    @Resources.GlobalStrings.DoYouHaveSurgery
                                                </label>
                                            </div>
                                        }



                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">5.) @Resources.GlobalStrings.TreatmentRecommendations </label>
                                        <p class="answer-p">
                                            @(Model.CasePatientQuestions?.TreatmentRecommendations)
                                        </p>
                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">6.) @Resources.GlobalStrings.QuestionHeader </label>
                                        <div class="textareas-container">
                                            <div class="Questions">
                                                <h4 class="text-capitalize text-center"> @Resources.GlobalStrings.Questions</h4>
                                            </div>
                                            <div class="textareaBox">
                                                <label class="answer-label form-control">@(Model.CasePatientQuestions?.FirstQuestion)</label>
                                                @Html.TextAreaFor(a => a.CasePatientQuestions.FirstQuestionInterpreted, new {@class = "input-md textinput textInput form-control interruptedText", rows = "5", @required = ""})

                                            </div>
                                            <div class="textareaBox">
                                                <label class="answer-label form-control">@(Model.CasePatientQuestions?.SecondQuestion)</label>
                                                @Html.TextAreaFor(a => a.CasePatientQuestions.SecondQuestionInterpreted, new {@class = "input-md textinput textInput form-control interruptedText", rows = "5", @required = ""})

                                            </div>
                                            <div class="textareaBox">
                                                <label class="answer-label form-control">@(Model.CasePatientQuestions?.ThirdQuestion)</label>
                                                @Html.TextAreaFor(a => a.CasePatientQuestions.ThirdQuestionInterpreted, new {@class = "input-md textinput textInput form-control interruptedText", rows = "5", @required = ""})

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">7.) @Resources.GlobalStrings.PatientAge </label>
                                        <p class="answer-p">
                                            @(Model.CasePatientQuestions?.PatientAge)
                                        </p>
                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">8.) @Resources.GlobalStrings.PatientHeight: </label>
                                        <p class="answer-p">
                                            @(Model.CasePatientQuestions?.PatientHeight)
                                        </p>
                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">9.) @Resources.GlobalStrings.PatientWeight : </label>
                                        <p class="answer-p">
                                            @(Model.CasePatientQuestions?.PatientWeight)
                                        </p>
                                    </div>
                                    <div class="form-group margin-top-30">
                                        <label class="control-label black-text">10.) @Resources.GlobalStrings.ethnics: </label>
                                        <div class="contact100-form-checkbox wizard-form-content">
                                            <label class="radio">
                                                @(Model.CasePatientQuestions?.EthnicOriginDisplayName)
                                                <input type="radio" checked="checked" name="is_company">
                                                <span class="checkround"></span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="grey-sep">
                                        @(Model.CasePatientQuestions?.OtherEthinicOrigin)
                                    </div>

                                    
                                    <div class="doc-report">
                                        @if (Model.CaseInfo.Status >= StatusEnum.MedicalReportUnderInterpretation)
                                        {
                                            <h2 class="text-uppercase text-center bold-font margin-bottom-30">@Resources.GlobalStrings.Doctor Report</h2>
                                            <div class="text-insider">
                                                <ul class="docs-list text-left no-dashed">
                                                    @foreach (var item in Model.CaseDocuments)
                                                    {
                                                        <li><a href="@item" target="_blank"><img src="~/Content/img/documnet.png" class="img-responsive" style="box-shadow: none; width: 90px;" /> </a></li>
                                                    }
                                                </ul>
                                                @if (Model.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.MedicalReportUnderInterpretation)
                                                {
                                                    <div class="input-group">
                                                        <ul id="imgs"></ul>
                                                    </div>
                                                    <div class="row">

                                                        @*<ul class="docs-list text-left col-xs-12" id="ulcertificationImages" style=""></ul>*@
                                                        <label class="input-group-btn col-xs-12"></label>
                                                        <div class="dropzone" id="btnUploadPIC">
                                                            <input type="file" multiple="multiple" style="visibility:hidden" value="" />
                                                        </div>
                                                        <span id="lblErrUploadCerts" style="display:none;color:red !important;">@Resources.GlobalStrings.kindlyUploadDocuments</span>
                                                        <input type="hidden" id="hdnCertificates" name="AttachmentCertificates" value="" />


                                                    </div>
                                                }
                                                else
                                                {<br />
                                                    <span>@Resources.GlobalStrings.Interpreted_Documents</span>
                                                    <ul class="docs-list text-left no-dashed">
                                                        @foreach (var item in Model.CaseDocumentsInterpreted)
                                                        {
                                                            <li><a href="@item" target="_blank"><img src="~/Content/img/documnet.png" class="img-responsive" style="box-shadow: none; width: 90px;" /> </a></li>
                                                        }
                                                    </ul>
                                                }
                                            </div>
                                            <br/>
                                            <div class="text-insider">
                                                <textarea class="black-font form-control" disabled="disabled" id="txtdocReportDisg" cols="10" rows="10" placeholder="@Resources.GlobalStrings.If_You_Have_Additnal_notes" @(Model.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.Closed ? "readonly" : "") >@(Model.CaseInfo?.DoctorReportDiagnosis)</textarea>
                                            </div>

                                            <br/>
                                            <div class="text-insider">
                                                <textarea class="black-font form-control" id="txtdocReportDisg_Interpreted" cols="10" rows="10" placeholder="@Resources.GlobalStrings.If_You_Have_Additnal_notes" @(Model.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.Closed ? "readonly" : "") >@(Model.CaseInfo?.DoctorReportDiagnosis)</textarea>
                                            </div>
                                        }
                                        <div class="text-center">
                                            <a href="/Interpreter/Index" class="doc-report-btn decline-form-btn">@Resources.GlobalStrings.Cancel</a>
                                            @if (Model.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.MedicalReportUnderInterpretation)
                                            {
                                                <a class="doc-report-btn" href="javascript:void(0);" onclick="SaveCaseDoctorInfo()">@Resources.GlobalStrings.Send_report</a>
                                            }
                                            else if (Model.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.CaseUnderInterpretation)
                                            {
                                                <input class="login100-form-btn" type="submit" name="name" value="@Resources.GlobalStrings.Save"/>
                                            }

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
    <!-- #content -->
    @section Scripts{
        <script>
                 var myDropzone = new Dropzone("div#btnUploadPIC", { url: "/home/uploadcertificate", method: "post" , dictDefaultMessage: "@Resources.GlobalStrings.Drag_and_drop_or_click_here" })
        Dropzone.options.maxFilesize = 4;
        myDropzone.on("complete", function (file) {
            var pdfType = "application/pdf";
            var wordType = "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
            var imageType = "image";
            var iconPath = "";
            if (file.type.toLowerCase().indexOf(pdfType) > -1) {
                iconPath = "/Content/img/documnet.png";
            } else if (file.type.toLowerCase().indexOf(imageType) > -1) {
                iconPath = file.xhr.response;

            } else if (file.type.toLowerCase().indexOf(wordType) > -1) {
                iconPath = "/content/img/word-document-icon.png"

            } else {
                iconPath = "/content/img/certifications-icon.png";
            }
            if (file.size <= Dropzone.options.maxFilesize * 1024 * 1024) {

                $("#imgs").append("<li style='position: relative;display: inline-block;float: left;width: 100px;'><span class='fa fa-close' style='position: absolute;left: 20px;background-color:white;' onclick='$(this).parent().remove();'></span><a href='" + file.xhr.response + "' target='_blank'><img src='" + iconPath + "' data-fpath='" + file.xhr.response + "' width='70' height='70' /></a></li>")
                myDropzone.removeFile(file);
                $("#lblErrUploadCerts").hide();
            }
        });
        myDropzone.on("error", function (file) {
 
                myDropzone.removeFile(file);
                toastr.error("Error file type detected")
            
        });
            var formData = new FormData();
            function SaveCaseDoctorInfo() {
                $("#imgs").find("img").each(function () {
                    $("#hdnCertificates").val($("#hdnCertificates").val() + ";#" + $(this).attr("data-fpath"));
                })
                var _docReportDisg = $("#txtdocReportDisg_Interpreted").val();
               
                formData.append("caseId", "@Model.CaseInfo.CaseId");
                formData.append("AttachmentCertificates", $("#hdnCertificates").val());

                formData.append("DoctorReportDiagnosis", _docReportDisg);
                $("#loader").show();
                $.ajax({
                    type: "post",
                    url: "/Interpreter/SaveDoctorReportDiagnosis",
                    data:formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        window.location = "/Interpreter/Index";
                        $("#loader").hide();
                    },
                    onFailure: function (ex) {
                        onFailure(ex);
                    }
                });
            }
            $(document).ready(function () {
               
                if (@((int)Model.CaseInfo.Status) !== @((int)StatusEnum.CaseUnderInterpretation))
                {
                
                    $('.interruptedText').prop("disabled", true);

                }
               
            });
        </script>
    }