@using Microsoft.AspNet.Identity
@using Origin.YMC.Business.Entities.Domain.Doctors.ViewModel
@using Origin.YMC.Business.Entities.Domain.SocialUrl.Enums
@using Origin.YMC.Business.Entities.Domain.Patients.ViewModel
@using System.Globalization
@using Origin.YMC.Business.Entities.Domain.Interpreter.Enums
@{
    Layout = "~/Views/Shared/_Layout_blank_.cshtml";
    var caseModel = (CaseDetailsViewModel)ViewBag._caseDetilsInfo;
    var isReadOnly = User.IsInRole("Patient")
    || ( User.IsInRole("Doctor") && caseModel.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.CaseUnderInterpretation )
    || (User.IsInRole("Interpreter") && caseModel.CaseInfo.AssignedToInterpreterId.HasValue && caseModel.CaseInfo.Status == Origin.YMC.Business.Entities.Domain.Patients.Enums.StatusEnum.CaseUnderInterpretation);
}
<!-- #content start -->
<div id="content" class="content">
    <section class="wizard cardiology-section">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="step-content mega-container text-left box-shadow radius-border">
                        <h1 class="section-title sub-section-title text-center fadeInLeft wow" data-wow-delay="0.5s">
                            <span class="blue-font-light sep-before">
                                @caseModel.CaseInfo.PatientName
                            </span>
                        </h1>
                        <ul class="intro-cardiology-list">
                            <li>
                                <label class="green-color-font">@Resources.GlobalStrings.YouHaveSelected</label>
                                <span class="">@caseModel.CaseInfo.ConsultationType</span>
                                <button class="btn btn-primary right" onclick="document.location.href ='/QuestionThreads/Questions?caseId=@caseModel.CaseInfo.CaseId'"><img src="/content/img/ask.png"> @Resources.GlobalStrings.Questions_Threads</button>
                            </li>
                            <li>
                                <label class=" bold-color-font">@Resources.GlobalStrings.Registered_User:</label>
                                <span class="">@caseModel.CaseInfo.PatientName</span>
                                <div class="right">
                                    <label>@Resources.GlobalStrings.Opinion_ID:</label>
                                    <span class="">@caseModel.CaseInfo.OpinionID</span>
                                </div>
                            </li>
                        </ul>
                        <div class="grey-sep">
                        </div>
                        <h2 class="text-left edit-profile-heading xs-margin-top text-uppercase">@Resources.GlobalStrings.General_Medical_History</h2>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">1.) @Resources.GlobalStrings.PrimaryCheifProblem  </label>
                                    <p class="answer-p black-text">
                                        @(caseModel.CasePatientQuestions?.PrimaryCheifProblem)
                                    </p>
                                    @if (caseModel.CaseInfo.InterpretationTypeId != InterpretationTypes.NoInterpretationService)
                                    {
                                        <p class="answer-p">
                                            @(caseModel.CasePatientQuestions?.PrimaryCheifProblemInterpreted)
                                        </p>
                                    }
                                </div>
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">2.) @Resources.GlobalStrings.MedicalDiagnosis </label>
                                    <p class="answer-p black-text">
                                        @(caseModel.CasePatientQuestions?.MedicalDiagnosis)
                                    </p>
                                    @if (caseModel.CaseInfo.InterpretationTypeId != InterpretationTypes.NoInterpretationService)
                                    {
                                        <p class="answer-p">
                                            @(caseModel.CasePatientQuestions?.MedicalDiagnosisInterpreted)
                                        </p>
                                    }
                                </div>
                                <div class="form-inline group-2 width-5 margin-top-30">
                                    <div class="form-group">
                                        <label class="control-label black-text">3.) @Resources.GlobalStrings.DiagnosisDate </label>
                                        <p class="answer-p">
                                            @(caseModel.CasePatientQuestions?.DiagnosisDate.ToString("dd/MM/yyyy", new CultureInfo("en-US", true)))
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group margin-top-30">

                                    @if (caseModel.CasePatientQuestions?.DoYouHadWorkerCompensation ?? false)
                                    {
                                        <div class="contact100-form-checkbox wizard-form-content">
                                            <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                            <label class="label-checkbox100  black-font-regular text-lowercase" for="ckbt1">
                                                @Resources.GlobalStrings.DoYouHadWorkerCompensation3
                                            </label>
                                        </div>
                                    }

                                    @if (caseModel.CasePatientQuestions?.DoYouHadLitigation ?? false)
                                    {
                                        <div class="contact100-form-checkbox wizard-form-content">
                                            <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                            <label class="label-checkbox100  black-font-regular text-lowercase" for="chbt2">
                                                @Resources.GlobalStrings.DoYouHadLitigation
                                            </label>
                                        </div>
                                    }

                                    @if (caseModel.CasePatientQuestions?.AreYouCurrentlyHospitalized ?? false)
                                    {
                                        <div class="contact100-form-checkbox wizard-form-content">
                                            <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                            <label class="label-checkbox100  black-font-regular text-lowercase" for="chbt3">
                                                @Resources.GlobalStrings.AreYouCurrentlyHospitalized
                                            </label>
                                        </div>
                                    }

                                    @if (caseModel.CasePatientQuestions?.DoYouHaveSurgery ?? false)
                                    {
                                        <div class="contact100-form-checkbox wizard-form-content">
                                            <input class="input-checkbox100" id="ckb81" checked="checked" type="checkbox" readonly>
                                            <label class="label-checkbox100  black-font-regular text-lowercase" for="chbt4">
                                                @Resources.GlobalStrings.DoYouHaveSurgery
                                            </label>
                                        </div>
                                    }



                                </div>
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">5.)   @Resources.GlobalStrings.TreatmentRecommendations </label>
                                    <p class="answer-p blue-color-answer">
                                        @(caseModel.CasePatientQuestions?.TreatmentRecommendations)
                                    </p>
                                </div>
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">6.)    @Resources.GlobalStrings.QuestionHeader </label>
                                    <div class="textareas-container">
                                        <div class="Questions">
                                            <h4 class="text-capitalize text-center"> @Resources.GlobalStrings.Questions</h4>
                                        </div>
                                        <div class="textareaBox">
                                            <label class="answer-label form-control blue-color-answer">@(caseModel.CasePatientQuestions?.FirstQuestion)</label>
                                            <textarea class="answer-label form-control" @(isReadOnly ? "disabled":"") rows="5" id="FirstQuestionInterpreted">@(caseModel.CasePatientQuestions?.FirstQuestionInterpreted)</textarea>

                                        </div>
                                        <div class="textareaBox">
                                            <label class="answer-label form-control blue-color-answer">@(caseModel.CasePatientQuestions?.SecondQuestion)</label>
                                            <textarea class="answer-label form-control" @(isReadOnly ? "disabled":"")  rows="5" id="SecondQuestionInterpreted">@(caseModel.CasePatientQuestions?.SecondQuestionInterpreted)</textarea>

                                        </div>
                                        <div class="textareaBox">
                                            <label class="answer-label form-control blue-color-answer">@(caseModel.CasePatientQuestions?.ThirdQuestion)</label>
                                            <textarea class="answer-label form-control" @(isReadOnly ? "disabled":"")  rows="5" id="ThirdQuestionInterpreted">@(caseModel.CasePatientQuestions?.ThirdQuestionInterpreted)</textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">7.) @Resources.GlobalStrings.PatientAge </label>
                                    <p class="answer-p">
                                        @(caseModel.CasePatientQuestions?.PatientAge)
                                    </p>
                                </div>
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">8.) @Resources.GlobalStrings.PatientHeight: </label>
                                    <p class="answer-p">
                                        @(caseModel.CasePatientQuestions?.PatientHeight)
                                    </p>
                                </div>
                                <div class="form-group margin-top-30">
                                    <label class="control-label black-text">9.)@Resources.GlobalStrings.PatientWeight : </label>
                                    <p class="answer-p">
                                        @(caseModel.CasePatientQuestions?.PatientWeight)
                                    </p>
                                </div>
                                @*<div class="form-group margin-top-30">
                                    <label class="control-label black-text">10.) @Resources.GlobalStrings.ethnics: </label>
                                    <div class="contact100-form-checkbox wizard-form-content">
                                        <label class="radio">
                                            @(caseModel.CasePatientQuestions?.EthnicOriginDisplayName)
                                            <input type="radio" checked="checked" name="is_company">
                                            <span class="checkround"></span>
                                        </label>
                                        @if (caseModel.CasePatientQuestions?.EthnicOrigin == Origin.YMC.Business.Entities.Domain.Patients.Enums.EthnicOriginEnum.Other)
                                        {
                                            <label>@(caseModel.CasePatientQuestions?.OtherEthinicOrigin)</label>
                                        }
                                    </div>

                                </div>*@
                                <div class="grey-sep">
                                    @(caseModel.CasePatientQuestions?.OtherEthinicOrigin)
                                </div>
                                <h2 class="text-left edit-profile-heading xs-margin-top text-uppercase">@Resources.GlobalStrings.Medical_Records_and_Required_Documents</h2>
                                <ul class="docs-list text-left no-dashed">
                                    @foreach (var item in caseModel.Attchments)
                                    {
                                        if (item.Contains(".docx"))
                                        {
                                            <li><a href="@item" target="_blank"><img src="~/Content/img/word-document-icon.png" class="img-responsive" style="box-shadow:none;width:90px;" /> </a></li>
                                        }
                                        else if (item.Contains(".pdf"))
                                        {
                                            <li><a href="@item" target="_blank"><img src="~/Content/img/documnet.png" class="img-responsive" style="box-shadow:none;width:90px;" /> </a></li>
                                        }
                                        else
                                        {
                                            <li><img src="@item" class="img-responsive"></li>
                                        }
                                    }
                                </ul>
                                <div class="grey-sep">
                                </div>
                                <div class="doc-report">
                                    <h2 class="text-uppercase text-center bold-font margin-bottom-30">@Resources.GlobalStrings.Doctor Report</h2>
                                    <div class="text-insider">
                                        @{
                                            var curId = (int)caseModel.CaseInfo.Status;
                                            var _unEditId = new[] { 1, 6, 7 };
                                        }
                                        @if (!_unEditId.Contains(curId))
                                        {
                                            <div class="input-group">
                                                <ul id="imgs"></ul>
                                            </div>
                                            <div class="row">

                                                @*<ul class="docs-list text-left col-xs-12" id="ulcertificationImages" style=""></ul>*@
                                                <label class="input-group-btn col-xs-12"></label>
                                                <div class="dropzone" id="btnUploadPIC">
                                                    <input type="file" multiple="multiple" style="visibility:hidden" value="" />
                                                </div>
                                                <span id="lblErrUploadCerts" style="display:none;color:red !important;">@Resources.GlobalStrings.kindlyUploadDocuments</span>
                                                <input type="hidden" id="hdnCertificates" name="AttachmentCertificates" value="" />


                                            </div>
                                        }
                                        else
                                        {
                                            <ul class="docs-list text-left no-dashed">
                                                @foreach (var item in caseModel.CaseDocuments)
                                                {
                                                    <li><a href="@item" target="_blank"><img src="~/Content/img/documnet.png" class="img-responsive" style="box-shadow:none;width:90px;" /> </a></li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                    <br />
                                    <div class="text-insider">
                                        <textarea class="black-font form-control" @(isReadOnly ? "disabled":"")  id="txtdocReportDisg" cols="10" rows="10" placeholder="@Resources.GlobalStrings.If_You_Have_Additnal_notes" @(_unEditId.Contains(curId) ? "readonly" : "")>@(caseModel.CaseInfo?.DoctorReportDiagnosis)</textarea>
                                    </div>
                                    @if (!_unEditId.Contains(curId) && !isReadOnly)
                                    {
                                        <div class="text-center">
                                            <a href="/Doctor/DoctorProfile" class="doc-report-btn decline-form-btn">@Resources.GlobalStrings.Cancel</a>
                                            <a class="doc-report-btn" href="javascript:void(0);" onclick="SaveCaseDoctorInfo()">@Resources.GlobalStrings.Send_report</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            <a href="/Doctor/DoctorProfile" class="doc-report-btn decline-form-btn">@Resources.GlobalStrings.Cancel</a>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- #content -->
@section Scripts{
    <script>
         var myDropzone = new Dropzone("div#btnUploadPIC", { url: "/home/uploadcertificate", method: "post" , dictDefaultMessage: "@Resources.GlobalStrings.Drag_and_drop_or_click_here" })
        Dropzone.options.maxFilesize = 4;
        myDropzone.on("complete", function (file) {
            var pdfType = "application/pdf";
            var wordType = "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
            var imageType = "image";
            var iconPath = "";
            if (file.type.toLowerCase().indexOf(pdfType) > -1) {
                iconPath = "/Content/img/documnet.png";
            } else if (file.type.toLowerCase().indexOf(imageType) > -1) {
                iconPath = file.xhr.response;

            } else if (file.type.toLowerCase().indexOf(wordType) > -1) {
                iconPath = "/content/img/word-document-icon.png"

            } else {
                iconPath = "/content/img/certifications-icon.png";
            }
            if (file.size <= Dropzone.options.maxFilesize * 1024 * 1024) {

                $("#imgs").append("<li style='position: relative;display: inline-block;float: left;width: 100px;'><span class='fa fa-close' style='position: absolute;left: 20px;background-color:white;' onclick='$(this).parent().remove();'></span><a href='" + file.xhr.response + "' target='_blank'><img src='" + iconPath + "' data-fpath='" + file.xhr.response + "' width='70' height='70' /></a></li>")
    myDropzone.removeFile(file);
                $("#lblErrUploadCerts").hide();
            }
        });
        myDropzone.on("error", function (file) {
 
                myDropzone.removeFile(file);
                toastr.error("Error file type detected")
            
        });

        var formData = new FormData();
        function SaveCaseDoctorInfo() {
            $("#imgs").find("img").each(function () {
                $("#hdnCertificates").val($("#hdnCertificates").val() + ";#" + $(this).attr("data-fpath"));
            })
            var _docReportDisg = $("#txtdocReportDisg").val();
            
            formData.append("caseId", "@caseModel.CaseInfo.CaseId");
            formData.append("AttachmentCertificates", $("#hdnCertificates").val());
            formData.append("firstQuestion", $("#FirstQuestionInterpreted").val());
            formData.append("secondQuestion", $("#SecondQuestionInterpreted").val());
            formData.append("thirdQuestion", $("#ThirdQuestionInterpreted").val());
             formData.append("DoctorReportDiagnosis", _docReportDisg);
            $("#loader").show();
            $.ajax({
                type: "post",
                url: "/Doctor/SaveDoctorReportDiagnosis",
                data:formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location = "/Doctor/DoctorProfile";
                     $("#loader").hide();
                },
                onFailure: function (ex) {
                    onFailure(ex);
                }
            });
        }
       
    </script>
}