@using Origin.YMC.Business.Entities.Domain.Partation.ViewModels
@model Origin.YMC.Business.Entities.Domain.Partation.ViewModels.PartationViewModel
@{
    /**/

    ViewBag.Title = "Partation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajax_Option = new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "success",
        OnFailure = "onFailure",
        OnBegin = "onBegin",
        OnComplete = "onComplete"
    };
}

<!-- /.row -->
<div class="row" style="padding-top: 12px;">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="loading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Ajax.BeginForm("Create", "Partation", ajax_Option, new { @class = "well form-group" }))
                {

                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(c => c.PartationTypeID, new { @class = "col-md-2 control-label" })
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-right: 28px;">
                                        <i class="glyphicon glyphicon-tent"></i>
                                    </span>
                                    @Html.DropDownListFor(c => c.PartationTypeID, new SelectList(((List<PartationTypeViewModel>)ViewBag.partationTypes), "Id", "TitleEn"), "Select Type ..", new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(c => c.PartationTypeID)
                        </div>
                    </fieldset>
                    <br />

                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(c => c.ContentAr, new { @class = "col-md-2 control-label" })
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-right: 28px;">
                                        <i class="glyphicon glyphicon-console"></i>
                                    </span>
                                    @Html.TextAreaFor(c => c.ContentAr, new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(c => c.ContentAr)
                        </div>
                    </fieldset>
                    <br />

                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(c => c.ContentEn, new { @class = "col-md-2 control-label" })
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-right: 28px;">
                                        <i class="glyphicon glyphicon-console"></i>
                                    </span>
                                    @Html.TextAreaFor(c => c.ContentEn, new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(c => c.ContentEn)
                        </div>
                    </fieldset>

                    <div class="submit-row" style="float:right;">
                        @Html.HiddenFor(c => c.Id)
                        <input type="submit" class="btn btn-primary" id="btn-save" value="Save" />
                        <input type="button" class="btn btn-danger" id="btn-cancel" value="Cancel" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Partition
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dt_Partation_bind"></table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.col-lg-12 -->
@section Scripts{

    <script>
        $(document).ready(function () {
            var table = $('#dt_Partation_bind').dataTable({
                responsive: true,
                serverSide: true,
                processing: true,
                filter: true,
                orderMulti: false,
                order: [],
                lengthMenu: [10, 25, 50, 75, 100],
                dom: 'Blfrtip',
                buttons: [
                    { extend: 'copyHtml5' },
                    { extend: 'excelHtml5' },
                    { extend: 'csvHtml5' },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        text: 'PDF',
                        titleAttr: 'PDF'
                    },
                    { extend: 'print' }
                ],
                ajax: {
                    url: "/Partation/PageData/",
                    type: "POST"
                },
                columns: [
                    {
                        name: 'partationTypeName',
                        data: "partationTypeName",
                        title: "Partition type",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        name: 'contentAr',
                        data: "contentAr",
                        title: "Arabic Content",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        name: 'contentEn',
                        data: "contentEn",
                        title: "English Content",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        name: 'isActive',
                        data: "isActive",
                        title: "Is Active",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        name: 'creationDate',
                        data: "creationDate",
                        title: "Creation Date",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return  moment(data).format('DD-MM-YYYY') ;
                        }
                    },
                    {
                        name: 'id',
                        data: "id",
                        title: "Action",
                        sortable: false,
                        searchable: false,
                        width: "15%",
                        "render": function (data, type, row, meta) {

                            var titleActive = row.isActive ? "Deactivate" : "Active";
                            var classCss = row.isActive ? "btn-danger" : "btn-success";

                            var result = '<a data-ajax="true" data-ajax-method="GET" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" class="btn btn-sm btn-primary" data-ajax-success="editGetSuccess(data)" style="margin-right: 10px;" href="/Partation/Get/' + data + '">Edit</a>' +
                                '<a data-ajax="true" data-ajax-method="GET" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" data-ajax-success="Active" class="btn btn-sm ' + classCss + '"  href="/Partation/Deactive_Activate/' + data + '">' + titleActive + '</a>';
                            return result;
                        }
                    }
                ]

            });
            $.fn.dataTable.ext.errMode = 'throw';
            $('#myFilter').donetyping(function () {
                var value = $(this).val();
                $('#dt_Partation_bind').dataTable().fnFilter(value);
            });
        });

        function success() {
            $("#PartationTypeID").val("");
            $("#ContentAr").val("");
            $("#ContentEn").val("");
            $("#Id").val("");
            $("#btn-save").val("Save");
            $('#dt_Partation_bind').DataTable().ajax.reload();
            ShowTostNotification();
            //ScrollDown();
        }

        function editGetSuccess(data) {

            $("#PartationTypeID").val(data.PartationTypeID);
            $("#ContentAr").val(data.ContentAr);
            $("#ContentEn").val(data.ContentEn);
            $("#Id").val(data.Id);
            $("#btn-save").val("Update");
            ScrollUp();
        }

        function Active() {
            ShowTostNotification();
            $('#dt_Partation_bind').DataTable().ajax.reload();
        }

    </script>


}
